<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>{% block title %}Holocron{% endblock %}</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"
        />
        <link
            rel="shortcut icon"
            href="{{ url_for('static', filename='favicon.ico') }}"
        />
        {% endblock %}
    </head>

    <body>
        <div id="content" class="d-grid justify-content-center text-center">
            {% block content %} {% endblock %}
        </div>
        <div id="footer" class="d-grid justify-content-center text-center">
            {% block footer %} &copy; Copyright 2023 by Clifford Tran {%
            endblock %}
        </div>
    </body>
</html>
