{% extends "base.html" %} {% block title %} {{ super() }} {% endblock %} {%
block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
    body {
        font-family: sans-serif;
    }

    #chatbox {
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        margin-top: 60px;
    }
    #userInput {
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        margin-top: 60px;
    }
    #textInput {
        width: 90%;
        border: none;
        border-bottom: 3px solid black;
        font-size: 17px;
    }
    .userText {
        color: white;
        font-size: 17px;
        text-align: right;
        line-height: 30px;
    }
    .userText span {
        background-color: #808080;
        padding: 10px;
        border-radius: 2px;
    }
    .botText {
        color: white;
        font-size: 17px;
        text-align: left;
        line-height: 30px;
    }
    .botText span {
        background-color: #4169e1;
        padding: 10px;
        border-radius: 2px;
    }
    #tidbit {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 300px;
    }
    .boxed {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        margin-top: 60px;
        border: 1px solid white;
    }
    .box {
        border: 2px solid black;
    }</style
>{% endblock %} {% block content %}
<div id="content" class="d-grid justify-content-center">
    <center>
        <h1>Welcome to the Holocron</h1>
        <h3>Select a person to speak with:</h3>
        <select class="form-select" id="persona">
            <option selected value="aws" name="AWS Assessment">
                AWS Assessment
            </option>
            <option value="steve-jobs" name="Steve Jobs">Steve Jobs</option>
            <option value="anthony-bourdain">Anthony Bourdain</option>
            <option value="paul-graham">Paul Graham</option>
            <option value="jesus-christ">Jesus Christ</option>
            <option value="marcus-aurelius">Marcus Aurelius</option>
            <option value="richard-branson">Richard Branson</option>
            <option value="malcolm-x">Malcolm X</option>
            <option value="benjamin-graham">Benjamin Graham</option>
            <option value="robert-kiyosaki">Robert Kiyosaki</option>
            <option value="napoleon-hill">Napoleon Hill</option>
        </select>
    </center>
    <div class="box"></div>
    <div class="boxed">
        <div>
            <div id="chatbox">
                <p class="botText">
                    <span>Hi, ask me a question. </span>
                </p>
            </div>
            <div id="userInput">
                <textarea
                    id="textInput"
                    type="text"
                    name="msg"
                    placeholder="Message"
                    row="3"
                ></textarea>
            </div>
        </div>
    </div>
</div>

<script>
    function getBotResponse() {
        var rawText = $('#textInput').val()
        var persona = $('#persona').val()
        var personaName = $('#persona').val() + '\: '
        var userHtml = '<p class="userText"><span>' + rawText + '</span></p>'

        $('#textInput').val('')
        $('#chatbox').append(userHtml)
        document
            .getElementById('userInput')
            .scrollIntoView({ block: 'start', behavior: 'smooth' })
        $.get('/get', { msg: rawText, person: persona }).done(function (data) {
            var botHtml =
                '<p class="botText"><span>' + personaName + data + '</span></p>'
            $('#chatbox').append(botHtml)
            document
                .getElementById('userInput')
                .scrollIntoView({ block: 'start', behavior: 'smooth' })
        })
    }
    $('#textInput').keypress(function (e) {
        if (e.which == 13) {
            getBotResponse()
        }
    })
</script>

{% endblock %}
